/* FONTS, ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* MAIN */
body {
  max-width: 512px;
}

.discord_main {
  height: 100vh;
  background-color: #1c1d22;
  display: flex;
  flex-direction: column;
}

.discord_chat {
  overflow: auto;
}

/* FOOTER */
footer {
  height: 80px;
  background-color: #2d2d35;
  flex-shrink: 0;
}

.discord_navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-top: 20px;

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

i {
  font-size: 28px;
  transform: translate(0, -5px);
}

img {
  border-radius: 50%;
  transform: translate(0, -5px);
}

span {
 font-size: 12px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}