/* FONTS, ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  background-color: #141318;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  img:not(:first-child) {
    border-radius: 50%;
  }
}

/* MAIN */
body {
  max-width: 512px;

  .discord_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .discord_chat {
    flex-grow: 1;
    display: flex;
    background-color: #141318;
    overflow: auto;
  }

  main {
    background-color: #1c1d22;
    overflow-y: auto;
    border-top: 20px solid #1c1d22;
    border-left: 20px solid #1c1d22;
    border-top-left-radius: 20px;
    margin-top: 20px;
    }

  .btn { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  img {
  border-radius: 50%;
  margin-top: 15px;
  }

  ol {
  list-style-type: none;
  }

    button {
        text-align: center;    
        justify-content: center;
        font-size: 18px;
        background-color: #373A43;
        color: white;
    }
  
    .search_btn button {
        border-radius: 50%;
        padding: 3px 5px;
        font-size: 13px;
    }

     .add_friends-btn button {
        height: 30px;
        width: 330px;
        border-radius: 10px;
        font-size: 15px;
    }
    
    h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left: 5px;
    margin-bottom: 20px;
}
}

.contactlist {
  color: #81818D;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.contactlist img {
  transform: translate(5px, 5px);
}

.user2 {
  font-style: bold;
  color: white;
}

/* FOOTER */
footer {
  height: 80px;
  background-color: #2d2d35;
  flex-shrink: 0;
}

.discord_navbar {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }

  .nav-items:last-child {
    margin-bottom: 10px;
  }

  i {
    font-size: 26px;
  }

  img {
    border-radius: 50%;
    transform: translate(0, -6px);
  }

  span {
    font-size: 12px;
    line-height: 1.3;
    margin-top: 2px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}