/* FONTS, ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MAIN */
body {
  max-width: 512px;
}

.discord_main {
  height: 100vh;
  background-color: #1C1D22;
  display: flex;
  flex-direction: column;
}

.discord_chat {
  overflow: auto;
}

/* FOOTER */
footer {
  height: 80px;
  background-color: #2D2D35;
  flex-shrink: 0;
}

.discord_navbar {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

    i {
        font-size: 30px
        }
    
    img {
        border-radius: 50%;
        }

  
}