/* FONTS, ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  background-color: #141318;
  flex-shrink: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .border {
    border-right: 4px solid white;
    border-radius: 20px;
  }

  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }


  img:not(:first-child) {
    border-radius: 50%;
  }
}

/* MAIN */
body {
  max-width: 512px;

  .discord_wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .discord_chat {
    flex-grow: 1;
    display: flex;
    background-color: #141318;
    overflow: auto;
  }

  main {
    background-color: #1c1d22;
    overflow-y: auto;
    border-top: 20px solid #1c1d22;
    border-left: 20px solid #1c1d22;
    border-top-left-radius: 20px;
    margin-top: 20px;

   button {
    font-size: 18px;
    border-radius: 30px;
    text-align: center;
    border
}

    h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    margin-left: 5px;
    margin-bottom: 20px;
}
}

/* FOOTER */
footer {
  height: 80px;
  background-color: #2d2d35;
  flex-shrink: 0;
}

.discord_navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-top: 20px;

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  i {
    font-size: 28px;
    transform: translate(0, -5px);
  }

  img {
    border-radius: 50%;
    transform: translate(0, -5px);
  }

  span {
    font-size: 12px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
